<h1>My To Do List</h1>

<div class="new">
<p><a href="items/new">Add a New Item</a></p>
</div>

<div class="list">
  <table>
    <tr>
      <th>Details</th>
    </tr>
      <% @items.each do |item| %>
    <tr>
      <td>
      <%= item.details %>
        </td>
    </tr>
    <%end%>
  </table>
</div>