<h1>My To Do List</h1>

<td><%= link_to('Add New Item', {:controller => 'add', :action => 'index'}) %></td>

<table>
  <tr>
    <th>Details</th>
    <th>Completed</th>
  </tr>
  <% @item.each do |item| %>
  <tr>
    <td><%= item.details %></td>
    <td><%= item.completed %> 
  </tr>
  <%end%>
</table>
